        <div class="container mx-auto px-6 py-16 pt-28 text-center">
            <div class="mx-auto max-w-xlg">
            <h1 class="text-3xl font-bold text-gray-800 dark:text-black md:text-4xl">Connect with fellow students, exchange notes, and collaborate!</h1>

            <p class="mt-6 text-gray-800 dark:text-gray-800">StudentLink is a free student study system helping students connect across states, time zones and college loyalties. You can link with a fellow student taking the same course as you. Bring your questions and ideas!</p>

            <a href="/register">
                <button type="button" class="m-6 h-10 transform rounded-md bg-blue-500 px-4 py-2 text-white transition-colors duration-300 hover:bg-blue-400 focus:bg-blue-400 focus:outline-none">Sign Up to Study Together!</button>
            </a>
            </div>
            </div>
