/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* 
.header-bg{
  background-color: rgb(77, 167, 194);
} */
/* 
.underHeader{

}

.postMainBackground{

}

.postTitleBackground{}

.userNameBackground{}

.post */

.rlWriting{
  color: white;
}


.photoHome{
  display: flex;
  text-align: center;
  padding-bottom: 50px;
}

.mainBody{
  display: flex;
  position: relative;
  flex-direction: row;
  text-align: center;
  color: white;
}

.warning{
  display: flex;
  position: relative;
  flex-direction: row;
  text-align: center;
  color: white;
  padding: 20px;
}


.footer{

}

