  <form action="/create/post" method="POST">
<div class="heading text-center font-bold text-2xl m-5 text-gray-800">Study Post</div>
<style>
  body {background:white !important;}
</style>
  <div class="editor mx-auto w-10/12 flex flex-col text-gray-800 border border-gray-300 p-4 shadow-lg max-w-2xl">
    <input name="title" class="title bg-gray-100 border border-gray-300 p-2 mb-4 outline-none" spellcheck="false" placeholder="Title" type="text">
    <input name="subject" class="title bg-gray-100 border border-gray-300 p-2 mb-4 outline-none" spellcheck="false" placeholder="Subject" type="text">
    <input name="subject_level" class="title bg-gray-100 border border-gray-300 p-2 mb-4 outline-none" spellcheck="false" placeholder="Knowledge Level (e.g Novice, Beginner, Advanced, Expert)" type="text">
    <textarea name="post_text" class="description bg-gray-100 sec p-3 mb-4 h-60 border border-gray-300 outline-none" spellcheck="false" placeholder="Describe everything about this post here and add relevant links"></textarea>
    <input name="meeting_info" class="title bg-gray-100 border border-gray-300 p-2 mb-4 outline-none" spellcheck="false" placeholder="Study Session Info (e.g Zoom Link, Meeting Location)" type="text">


    

    
    <!-- buttons -->
    {{!-- <div class="buttons mt-4 flex">
      <div class="btn border border-gray-300 p-1 px-4 font-semibold cursor-pointer text-gray-500 ml-auto">Cancel</div>
      <div class="btn border border-indigo-500 p-1 px-4 font-semibold cursor-pointer text-gray-200 ml-2 bg-indigo-500">Post</div>
       <div> --}}
          <button type="submit" class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Post</button>
        </div>
    </div>
  </div>
</form>